html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 1.75;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

h1 {
  font-size: 4em;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 0.03em;
}

h2 {
  line-height: 1.4;
  margin-top: 1.5em;
}

.view a {
  color: #ff5252;
  text-decoration: none;
}

.view a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3.5em;
  }
}

@keyframes nav {
  from {
    opacity: 0;
    transform: translate3d(0, -25px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

nav {
  animation: nav 0.2s ease-in-out forwards;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  opacity: 0;
  padding: 2em;
  bottom: 0;
  position: fixed;
  min-width: 100%;
  box-shadow: 0px 0px 1px #999;
  background-color: white;
  text-align: center;
  z-index: 3;
}

@media screen and (max-width: 768px) {
  nav {
    padding: 1em;
  }
}

nav a {
  color: black;
  font-weight: 700;
  margin: 0 2em;
  letter-spacing: 0.08em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 70%;
  padding: 25px;
  max-width: 20px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 0;
  top: 10px;
}

nav i {
  font-size: 200%;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
}

nav a:hover {
  color: black;
}

@media screen and (max-width: 768px) {
  nav a {
    padding-right: 5px;
    padding-left: 5px;
    bottom: 0;
  }
  nav i {
    font-size: 150%;
    top: 10%;
  }
}

nav a:before {
  border-radius: 50%;
  content: "";
  background-color: #ff5252;
  left: 0;
  height: 10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(300%, -50%);
  width: 10px;
}

@media screen and (max-width: 768px) {
  nav a:before {
    bottom: 0;
    transform: translate(-60%, 80%);
  }
}

nav a.active:before {
  animation: navdot 0.25s ease-in-out forwards 0.25s;
}

@keyframes navdot {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.app {
  padding: 3em 0em 2em !important;
  text-align: center;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .app {
    padding: 3em 2em 2em;
  }
}

.with--accent {
  color: #ff5252;
  font-weight: 400;
}

.content {
  border-radius: 4px;
  background-color: white;
  color: #101010;
  max-width: 40em;
  margin: 0 auto;
  padding: 1em;
  text-align: left;
}

.content--inner {
  padding: 3em;
}

@media screen and (max-width: 768px) {
  .content--inner {
    padding: 1em;
  }
}

.content--excerpt {
  font-weight: 700;
  font-style: italic;
  margin: 0;
}

.grid-container{
  max-width: 600px;
  margin: 0 auto;
  height: 100% !important;
  margin-bottom: 80px;
}

.row{
  min-width: 100%;
  position: relative !important;
  margin: 0 !important;
  height: fit-content !important;
}

.img-container{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.group-thumb{
  height: auto;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5%;
}

.level-two{
  margin-top: 30px;
}

.level-two .group-thumb{
  max-height: 170px;
}

.title-container{
  position: absolute;
  font-size: 32px;
  color: white;
  padding: 10px;
  margin: 0;

}

.group-title{
  margin: 0;
  
}

section{
  width: 100%;
  background-color: white;
}


/*Loading basketball*/

.loader{
  height: 100% !important;
  position: fixed;
  width: 100% !important;
  z-index: 100;
  background-color: #ff5252;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  display: none;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

